<!DOCTYPE html>
<html>
  <head>
    <title>ToYomu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="header">
      <%  if logged_in? %>
      <div>
        <strong><%= "#{current_user.name}さんがログイン中" %></strong>
        <%= link_to "Log Out", logout_path, data: { "turbo-method": :delete } %>
      </div>
      <% else %>
        <div>
        <%= link_to "Log in", login_path %>
      </div>
      <% end %>
    </header>
    <div class="container">
      <ul class="flash">
        <% flash.each do |type, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
